
.compilerRightContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    height: 99%;
    background-color: var(--background-alt);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin : 0 0 0 0.5rem;
    border-radius: 10px;
}

.editorHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width : 97%;
}

.editorContainer{
    height: 100%;
    width: 95.5%;
    transition: height 0.4s ease-in-out;
    background-color: var(--editor-style);
    border-radius: 5px;
    margin: 10px 20px 20px 20px;
    overflow: hidden;
}

.shrinkEditor{
    height: 40%;
    background-color: var(--editor-style);
    border-radius: 5px;
    margin: 10px 20px 20px 20px;
    overflow: hidden;
}


.languageSelect{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 10rem;
    background-color: var(--background-alt);
    height: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.runButton{
    background-color: var(--accent-dark);
    color: var(--text-inverse);
    width: 5rem;
    height: 2.5rem;
    border : none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: large;
}

.runButton:active{
    transform: scale(0.98);
    transition: transform 0.1s;
}


.bottomContainer {
  height: 0;
  overflow: hidden;
  background: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  width : 95.5%;
  border-radius : 10px;
}

.bottomOpen {
  height: 60%; 
  padding: 10px;
}

.consoleButtonContainer{
  width: 95.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.consoleButton{
    background-color: var(--accent-dark);
    color: var(--text-inverse);
    width: 7rem;
    height: 2.5rem;
    border : none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    margin: 1rem;
}

.saveCodeButton{
    background: linear-gradient( 45deg , var(--accent) , var(--primary-dark));
    color: var(--text-inverse);
    width: 7rem;
    height: 2.5rem;
    border : none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.inputAndOutputNavigation{
  display: flex;
  width: 100%;
  height: 3.5em;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  background-color: #3a3a3a;
}

.testCaseSwitchButton{
  width : 10rem;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color : var(--text-light);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
  font-weight: lighter;
}

.testCaseSwitchButton:hover{
  background-color: #615d5d;
}

.testCaseSwitchButton span{
  color: var(--success);
  font-size: 1.1rem;
  position: absolute;
  left : 14px;
  top : 16px;

}

.activeSwitchButton{
  background-color: #615d5d;
  color: var(--text-inverse);
}

.executionDetailsContainer{
    display: flex;
    width: 100%;
    height: 2.5rem;
    align-items: center;
}

.executionDetailsContainer h3{
    font-size : 2rem;
    margin: 0.5rem 0 0.5rem 1rem;
}

.executionDetailsContainer h4{
    font-size: 1.1rem;
    font-weight: lighter;
    margin: 0.5rem 0 0.5rem 5rem;
}
.testCaseContainer{
    display: flex;
    width: 100%;
    height: 6em;
    overflow-y: hidden;
    overflow-x: auto;
    align-items: center;
    -ms-overflow-style: none;
}

.testCaseContainer::-webkit-scrollbar {
  display: none;           /* Chrome, Safari, Opera */
}

.testCase{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    flex-shrink: 0;
    width : 6rem;
    height: 3rem;
    margin : 0.5rem;
    position: relative;
    cursor: pointer;
}

.testCase span{
  font-size: larger;
  position: absolute;
  bottom: 5px;
  left : 5px;
  font-size: 4rem;
}

.activeCase {
  background-color: #615d5d; 
  color: white;
}

.testCaseCloseButton {
   position: absolute;
  top: -10px;
  right: -10px;
  border: none;
  background: transparent;
  color: #aaa;
  font-size: 18px;
  cursor: pointer;
  display: none; /* hidden by default */
  background-color: #615d5d;
  border-radius: 10px;

}

/* Show close button only on hover */
.testCase:hover .testCaseCloseButton {
  display: block;
}

.addTestCaseContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width : 5rem;
    height: 3rem;
    flex-shrink: 0;
    margin : 0.5rem;
    border: none;
    color: var(--text-light);
    background-color: transparent;
    font-size: 1.3rem;
    cursor: pointer;
}

.addTestCaseContainer p{
    font-size: larger;
}

.addTestCaseContainer:hover{
  color: var(--text-inverse);
}

.inputContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.inputContainer label{
  font-size: lighter;
  font-size: 1.1rem;
  margin: 0 0 0 1em;
}

.testCaseInputContainer { 
  width: 80%;
  height: 3rem;
  resize: none;
  background-color: #615d5d;
  color: var(--text-inverse);
  border: none;
  border-radius: 5px;
  padding:0.8rem;    
  font-size: 1rem;   
  margin : 1rem 1rem 1rem 2rem;   
}

.testCaseInputContainer::placeholder{
  color: #030202;
}


.passedCase {
  color: var(--success);

}

.failedCase {
  color: var(--error);
}


.excecutionDetailsContainer{
  width: 100%;
  height: 5rem;
}

.emptyResultMessage{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.emptyResultMessage h1{
  font-size: 2rem;
  background-color: transparent;
    background: linear-gradient(90deg, var(--accent-dark), #192bf3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}