.assessmentMainContainer{
    width: 100%;
    height : 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.assessRightContainer{
    width: 90vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin : 1rem;
}

.editorContainer{
    width : 100vw;
    height : 70vh;
}


@media (max-width: 768px) {
    .assessmentMainContainer{
        display: none;
    }

    .assessRightContainer{
        width: 90vw;
        margin : 1rem 0 1rem 0;
        
    }
}

