.compilerMiddleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    width: 40%;
    height: 99%;
    background-color: var(--background-alt);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin : 0 0 0 0.5rem;
    border-radius: 10px;
    position: relative;
}




.questionContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.questionHeader{
    width: 100%;
    padding : 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questionHeader h1{
    color: var(--primary);
    font-size: 2rem;
    font-weight: 900;
    margin : 0 0 0 1rem;
}

.greenColor{
    color: var(--success);
    font-size: 1.2rem;
    font-weight: 900;
    margin : 0 0 0 1rem;
}
.yellowColor{
    color: var(--warning);
    font-size: 1.2rem;
    font-weight: 900;
    margin : 0 0 0 1rem;
}
.redColor{
    color: var(--error);
    font-size: 1.2rem;
    font-weight: 900;
    margin : 0 0 0 1rem;
}
.questionDescription{
    width: 80%;
    height: auto;
    align-items: center;
    align-content: center;
    justify-self: center;
    padding: 1rem;
    margin: 0 0 0 1rem;
}

.questionDescription p{
    color: var(--text);
    font-size: large;
    font-weight: lighter;
    list-style: none;
    line-height: 30px;
}

.sampleContainer{
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem;
    flex-direction: column;

}

.sampleInputOutputContainer{
    display: flex;
    flex-direction: column;
    width : 80%;
    justify-content: center;
    margin: 0.5rem;
    padding : 0.5rem;
}

.sampleInputOutputContainer p{
    font-size : 1.2rem;
    margin : 0 0 0 2rem;
    font-weight: light;
    line-height: 30px;
}

.sampleInputOutputContainer span{
    font-weight: bold;
    
}

.questionNavigationContainer{
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 25%;
    min-width: 25%;
}

.previousButton, .nextButton{
    /* background-color: var(--primary);  */
    color: var(--text);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: var(--background-alt);
    font-weight: bold;
    transition: background-color 0.3s ease;
}


.previousButton:active, .nextButton:active{
    background-color: #909aaf;
    transition: all 0.1s ease;
}
.previousButton:disabled, .nextButton:disabled{
    background-color: var(--surface);
    color: var(--text);
    cursor: not-allowed;
}

.noMoreQuestions{
    color: var(--text);
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 1rem;
}
.noMoreQuestions:hover{
    color: var(--text);
    cursor: not-allowed;
}
.noMoreQuestions:disabled{
    color: var(--text);
    cursor: not-allowed;
}

.deleteButtonContainer{
    position: absolute;
    bottom: 5px;
    left: 0;
    right : 30px;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.deleteButton{
    color: var(--text);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0 1rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: var(--error);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-inverse);
    font-weight: bold;
    transition: background-color 0.3s ease;
}


.modalContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-inverse);
    justify-content: center;
    height: 100%;
}

.questionIcon{
    font-size: 4rem;
    color: var(--warning);
    margin-bottom: 1rem;
}

.confirmButton{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--background-alt);
    background-color: var(--error);
    transition: background-color 0.3s ease;
}   

.cancelButton{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-inverse);
    background-color: var(--primary);
    transition: background-color 0.3s ease;
}   