.compilerLeftContainer{
    display: flex;
    flex-direction: column;
    width: 12%;
    height: 99vh;
    background-color: var(--background-alt);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin : 0 0 0 0.5rem;
    border-radius: 10px;
    justify-content: space-between;
}

.compilerLeftContainerHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.compilerLeftContainerHeader h1{
    font-size: larger;
}

.addQuestionsButton{
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    color: white;
    background-color: var(--primary);
    font-size: large;
    border: none;
    font-weight: bold;
    cursor: pointer;
}


.compilerLeftContainerBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    overflow-y: auto;
}


.questionsList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    overflow-y: auto;    
    overflow-x: hidden;
    justify-content: center;
    min-height: 50%;
    scrollbar-width: thin;             
    scrollbar-color: #555 transparent; 
}


.questionsListItems{
    width: 35%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--text);
    background-color: var(--background-alt);
    font-size: medium;
    border: none;
    font-weight: bold;
    border : 2px solid var(--primary);
    cursor: pointer;
    margin : 0.5rem;
    user-select: none;
}

.questionsListItems:hover{
    background-color: var(--primary);
    color: white;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    border : 2px soldi var(--primary);
}

.questionsListItems:active{
    transform: scale(0.95);
    transition: all 0.1s ease-in-out;
}


.modalMainContainer{
    width: 49vw;
    height: 50vh;
    background-color: black;
    color: var(--text-inverse);
    border-radius: 10px;
}


.modalHeader{
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content : flex-end;
}


.copyButton{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
    border : none;
    margin: 1rem;
}


.copyButton:active{
    transform: scale(0.95);
}


.questionContainer{
    width: 100;
}

.submitted {
  background-color:var(--success);
  color: white;
  border : 2px solid var(--success);

}

.selected {
  background-color: var(--primary);
  color: white;
  border: 2px solid var(--primary);
}

.bottomColorContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorContainer{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
}

.colorContainer h2{
    font-size: large;
    margin:0 0 0 0.5rem;
}

.notSelectedContainer{
    width: 20%;
    height: 40px;
    display: flex;
    border-radius: 10px;
    background-color: var(--background-alt);
    border: none;
    border : 2px solid var(--primary);
    margin : 0.3rem;
}

.selectedContainer{
    width: 20%;
    height: 40px;
    border-radius: 10px;
    color: var(--text);
    background-color: var(--primary);
    border: none;
    font-weight: bold;
    border : 2px solid var(--primary);
    margin: 0.3rem;
}

.savedContainer{
    width: 20%;
    height: 40px;
    border-radius: 10px;
    color: var(--text);
    background-color: var(--success);
    border: none;
    font-weight: bold;
    border : 2px solid var(--success);
    margin: 0.3rem;
}